

/* .box{
    height:600px;
    width:600px;
    background-color: #FF9A8B;
    background-image: linear-gradient(160deg, #4158D0 10%, #C850C0 37%, #FFCC70 58%, #ffffff 100%),url("../assets/kfc-burger.jpg");
 background-repeat: no-repeat;     
}  */
